/* Article.css */

.article-container {
    opacity: 1;
    transform: none;
}

.article {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    transition: background-color 0.3s;
}

.article:hover {
    background-color: #f9f9f9;
}

.article h3 {
    position: relative;
}

.article h3 a {
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
    background-color: transparent;
}

.article h3 a img {
    width: 36px;
    height: 36px;
    color: transparent;
}

.article p {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #333;
}

.article p time {
    font-weight: 600;
}

.article p span.text-neutral-300 {
    color: #ccc;
}

.article p span {
    margin-right: 0.5rem;
}

.article p.font-display {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

.article p.text-neutral-600 {
    font-size: 1rem;
    color: #666;
}