* {
    font-family: Mona Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: "wdth" 625;
    font-stretch: expanded;
}

.center-img {
    display: flex;
    align-items: center;
    height: 60px;
}

.rounded-4xl {
    border-radius: 50px;
}